@tailwind base;
@tailwind components;
@tailwind utilities;
.Gym-btn{
  width: 67px;
height: 38px;
background: #6765F0;
box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
border-radius: 10px;
 }

 body{
font-family: 'Sporting Grotesque';
background:#FFFFFF;
 }
 .banner-healthy{
  font-family: 'Sporting Grotesque';
font-style: normal;
font-weight: 700;
letter-spacing: 0.01em;
color: #262524;
 }
  
 